<div class="card mr-2 ml-2" style="margin-top: 20px; margin-bottom: 20px">
  <div class="card-header">Аккаунт</div>
  <section class="card-body">
    <p>Добро пожаловать, Modestra</p>
    <button type="button" (click)="DedicateTo()" class="btn btn-primary mt-2">
      Войти
    </button>
  </section>
</div>
<div class="card mr-2 ml-2">
  <div class="card-header">Конвентер Валют</div>
  <section class="card-body">
    <div #container>
      <conventer
        [MoneyCourse]="moneylist"
        [MoneyResult]="moneylist"
      ></conventer>
    </div>
    <article class="btn-menu">
      <button
        (click)="CreateContainer()"
        style="margin-bottom: 10px"
        type="button"
        class="btn btn-primary"
      >
        Создать пару чисел
      </button>
      <button
        (click)="SaveContainer()"
        style="margin-bottom: 10px"
        type="button"
        class="btn btn-success"
      >
        Сохранить
      </button>
    </article>
    <ConventerTable [(CoupeValute)]="convertcoupe"></ConventerTable>
  </section>
</div>
