<form class="card" style="width: 100%;">
    <div class="card-header">
      Сохранить форму
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Валюта</th>
            <th scope="col">Номинал</th>
            <th scope="col">Валюта</th>
            <th scope="col">Номинал</th>
          </tr>
        </thead>
        <tbody>
          @for (item of storage; track $index) {
            <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>link</td>
              <td>link</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </form>
