<form class="card mr-2 ml-2 mt-2" style="width: 100%">
  <div class="card-header">Сохранить форму</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Валюта</th>
          <th scope="col">Номинал</th>
          <th scope="col">Валюта</th>
          <th scope="col">Номинал</th>
        </tr>
      </thead>
      <tbody>
        @for (coupe of storage; track $index) {
        <tr>
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{ coupe.start }}</td>
          <td>{{ coupe.startCode }}</td>
          <td>{{ coupe.result }}</td>
          <td>{{ coupe.resultCode }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</form>
